* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f0f0f;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
