:root {
  --bg-main: #0f172a;
  --bg-card: #111827;
  --bg-hover: #1f2933;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --primary: #6366f1;
  --primary-hover: #4f46e5;

  --success: #22c55e;
  --danger: #ef4444;
  --warning: #f59e0b;

  --border: #1f2937;
  --radius: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}

a {
  text-decoration: none;
  color: inherit;
}
